.ItemGrid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 10px;

  &__Item {
    &__image {
      width: 100%;
    }

    &__title {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.2rem;
    }
  }
}
